<!-- _includes/social.html -->
<div class="social-links">
  <a href="https://github.com/shashank-signalling" target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/shashank-kumar-phd-7b9b3139" target="_blank">LinkedIn</a>
  <a href="https://scholar.google.com/citations?user=9ZyK8FsAAAAJ" target="_blank">Scholar</a>
</div>
  {% endif %}

  {% if site.author.cv %}
    <a href="{{ site.author.cv }}" target="_blank" title="Curriculum Vitae" class="social-icon">
      <img src="/assets/icons/cv.svg" alt="CV">
    </a>
  {% endif %}
</div>
